* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 35px 20px 24px;
  background: #fff;
}

header a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.menu-box {
  width: 100%;
}

.menu-op {
  display: none;
}

main {
  width: 100%;
}

.page1 {
  background-color: #fff;
  background-image: url(/image/bg-header.png);
  background-repeat: no-repeat;
  padding: 100px 24px 0 24px;
  border-bottom-left-radius: 5rem;
}

.page1 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.page1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 12px;
}

.page1 h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-top: 12px;
}

.page1 ul {
  display: flex;
  padding-top: 12px;
  padding-bottom: 136px;
  list-style: none;
}

.page1 ul li {
  margin-right: 20px;
}
