* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
}

/* Modal */

#container-menu-modal {
  display: flex;
  background-color: rgba(96, 112, 255, 1);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.turn_on {
  opacity: 1 !important;
  pointer-events: auto !important;
  background-color: rgba(96, 112, 255, 0.8) !important;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#modal {
  width: 100%;
  height: auto;
  padding: 0 28px;
}

#menu-head {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

#btn-close {
  padding-top: 1.87rem;
}

#btn-close:hover {
  cursor: pointer;
  transform: scale(1.2);
  animation-duration: 300ms;
}

#modal-ul {
  list-style: none;
  margin-bottom: 20rem;
}

.modal-item {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.modal-item a {
  text-decoration: none;
  color: white;
}

.modal-item:hover {
  transform: scale(0.9);
  animation-duration: 300ms;
}

/* fin modal */

header {
  background: #fff;
}

.blurize {
  filter: blur(5px);
}

.my-header {
  margin: 0 auto;
  max-width: 23.4375em;
  width: 100%;
  padding: 1.25em 2.18em 1.25em 1.5em;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 1.12em;
  line-height: 1.25rem;
  color: #6070ff;
  text-decoration: none;
  transform: rotate(360deg);
  transition-duration: 3s;
}

.menu-box {
  display: flex;
}

/* .works1 img {
  width: 18.43em;
  height: 13.75em;
  transition-duration: 300ms;
} */

.lng-item img {
  margin-right: 1em;
}

.social li a img {
  width: 100%;
  transition-property: width;
  transition-duration: 300ms;
}

#open-modal:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.menu-op {
  list-style: none;
  gap: 2em;
  display: none;
}

.item a {
  text-decoration: none;
  font-size: 0.93em;
  font-weight: 500;
  line-height: 1.25rem;
  color: #344563;
}

.item:hover {
  transform: scale(1.3);
  transition-duration: 300ms;
}

main {
  display: flex;
  flex-direction: column;
  gap: 7.12em;
  background: #f7f7f9;
}

.page1 {
  width: 100%;
  background-image: url(image/bg-header.png);
  background-repeat: no-repeat;
  padding: 6.25em 1.5em 0 1.5em;
  border-bottom-left-radius: 5em;
  background-color: #fff;
}

.pg1-container {
  margin: 0 auto;
  padding-bottom: 8.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.page1 h1 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 3.25rem;
  color: #172b4d;
}

.page1 p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5rem;
  color: #344563;
}

.sub-txt {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5rem;
  color: #7f8cff;
}

.social {
  display: flex;
  padding: 0.87em 0 0 0.62em;
  list-style: none;
  gap: 1.25em;
  align-items: flex-end;
}

.social li a img:hover {
  width: 130%;
}

.works {
  width: 100%;
  padding: 0 1em;
  display: grid;
  grid-template-rows: auto;
  gap: 5.5em;
}

.works1 {
  background: white;
  border-radius: 1em;
  padding: 1em;
  border: #dfe1e6 solid 1px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  max-width: 550px;
  width: 100%;
}

.div-img {
  height: 50%;
  width: 100%;
}

.img-works {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  transition-duration: 300ms;
}

.img-works:hover {
  transform: scale(1.04);
}

.work-desc {
  padding-bottom: 0.5em;
}

.title-works {
  font-size: 2.12em;
  font-weight: 700;
  line-height: 2.75rem;
  color: #172b4d;
}

.small-button {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style: none;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 3%;
  margin-bottom: 1.5em;
  gap: 1em;
}

.small-button li {
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
  background-color: #ebebff;
  color: #6070ff;
}

.sub-box {
  display: flex;
  padding-top: 0.75em;
  align-items: center;
  gap: 0.75em;
}

.sub-box h3 {
  font-size: 0.81em;
  font-weight: 600;
  line-height: 1rem;
  color: #344563;
}

.sub-box ul {
  display: flex;
  list-style: inside;
  margin: 0;
  padding: 0;
}

.sub-box ul li {
  font-size: 0.81em;
  font-weight: 600;
  line-height: 1rem;
  color: #7a869a;
  margin-right: 0.75em;
}

.work-desc p {
  padding-top: 1.25em;
  padding-bottom: 1em;
  font-size: 0.93em;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.see-button {
  font-size: 1.06em;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  color: #396df2;
  padding: 0.75em;
  border: #7f8cff solid 1px;
  border-radius: 8px;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 2s, 500ms;
}

.see-button:hover {
  background: #6070ff;
  color: white;
  cursor: pointer;
}

.see-button:active {
  background: #2230d2;
  color: white;
}

.see-button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.about-myself {
  width: 100%;
  background: white;
  border-top-right-radius: 5rem;
  display: grid;
  grid-template-rows: auto;
  gap: 0.75em;
}

.about-desc {
  padding: 7.12em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: flex-start;
}

.about-desc h2 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 3.25rem;
  color: #172b4d;
}

.about-desc p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
}

.about-skills {
  width: 100%;
  padding: 1.5em 2.25em 7.12em 2.25em;
}

.about-skills ul {
  list-style: none;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin-bottom: 2.25em;
}

.brd-r {
  padding-right: 2.5em;
}

#disabled {
  margin-top: 2.25em;
  margin-bottom: 0;
  visibility: hidden;
}

.about-skills ul hr {
  background: #dfe1e6;
  width: 100%;
  height: 1px;
  border: none;
  margin: 1.5em 0;
}

.languages {
  display: flex;
  justify-content: space-between;
}

.languages span {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5rem;
  color: black;
}

.lng-item {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  justify-content: flex-start;
  padding: 0.56em 0 0.56em 0.75em;
}

.lng-item span {
  font-size: 0.93em;
  font-weight: 500;
  line-height: 1.25rem;
  color: #253858;
}

/* contact form  */

.contact-form {
  background-color: white;
}

.form-container {
  background-color: #6070ff;
  background-image: url(image/bg-contat-form.png);
  background-position: 9.56em 1.31em;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1.5em 0.5em 1.5em;
}

.contact-center {
  height: auto;
}

.form-container h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 3.25rem;
  color: #fff;
  padding-top: 6.43em;
}

.form-container p {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.75rem;
  color: #ebebff;
  margin-top: 0.75em;
}

#input-form {
  display: inline-block;
  margin-top: 2.93em;
  text-align: left;
}

.in-txt {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.93em 2.37em 0.93em 1em;
  border-radius: 0.5rem;
  font-size: 1.06em;
  font-weight: 400;
  line-height: 1.25rem;
  border: 1px solid #cfd8dc;
  margin-bottom: 1.25em;
}

.in-txt:hover {
  transform: translate(5px, 2px);
}

.area {
  height: 10.62em;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#error {
  width: 60%;
  font-size: 0.9em;
  line-height: 1.2em;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 0.81rem;
  visibility: hidden;
}

.error-show {
  visibility: visible !important;
}

.endline {
  background-color: #0d151e;
  width: 8.37em;
  height: 0.31em;
  border-radius: 0.62rem;
  border: none;
  margin: 0 auto;
  margin-top: 2em;
}

/* popup */

.popup-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(193, 199, 208, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.popup-show {
  visibility: visible;
}

.popup-details {
  background-color: white;
  width: 90%;
  max-width: 343px;
  max-height: 713px;
  height: auto;
  border: #dfe1e6 solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;

  /* transform: scale(0.6); */

  /* opacity: 0; */

  /* transition: .3s ease all; */
}

.popup-image {
  position: relative;
}

#popup-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.img-snapshot {
  width: auto;
  height: 220px;
  margin: 0 auto;
  /* padding-top: 20px; */
  border-radius: 4px;
}

.popup-txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

.btn-live,
.btn-code {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popup-line {
  height: 1px;
  background-color: #ebecf0;
  border: none;
  margin: 25px 0;
}

.action {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

/* end popup mobile */

@media screen and (min-width: 768px) {
  .my-header {
    max-width: 80%;
    align-items: center;
    padding: 1.62em 2.18em 1.62em 1.5em;
  }

  .menu {
    align-items: center;
  }

  .menu-box {
    display: none;
  }

  .menu-op {
    display: flex;
    gap: 2em;
  }

  main {
    gap: 8.87em;
  }

  .page1 {
    display: flex;
    background-image: url(image/bg-header-big.png);
    background-size: 100% 100%;
  }

  .pg1-container {
    width: 55%;
    max-width: 57.5em;
    margin: 0 auto;
    padding-bottom: 15.93em;
    height: auto;
  }

  .works {
    gap: 8.87em;
    justify-items: center;
  }

  .works1 {
    width: 80%;
    flex-direction: row;
    gap: 2.87em;
    padding: 1.5em;
    max-width: 72.25em;
    align-items: start;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .div-img {
    height: 100%;
    width: 50%;
  }

  .img-works {
    width: 100%;
    height: 100%;
  }

  .work-desc {
    width: 50%;
    height: auto;
  }

  .work-desc h2 {
    font-size: 2.5em;
    line-height: 3.25rem;
  }

  .des-p {
    padding-top: 0;
    padding-bottom: 1.5em;
    font-size: 1em;
  }

  .small-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 2.5em;
  }

  .sub-box h3 {
    font-size: 1.12em;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .sub-box ul li {
    font-size: 1.125em;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .about-myself {
    grid-template-columns: 1fr 1fr;
    gap: 2.31em;
    padding-bottom: 8.37em;
  }

  .about-desc {
    padding: 8.87em 0 0 8.87em;
  }

  .about-skills {
    padding: 8.87em 8.87em 0 0;
  }

  .lang {
    flex-direction: row;
    gap: 0.75em;
  }

  .lng-item {
    flex-direction: column;
    padding: 0.75em 0.75em 1.25em 0.75em;
    gap: 1em;
    align-items: start;
    width: 7.62em;
    height: 7.5em;
  }

  .lng-item img {
    margin-right: 0;
  }

  /* Contact Form */

  .form-container {
    background-image: url(image/bg-contact-form-big.png);
    background-position: 4.68em 5em;
    background-size: 100%;
  }

  .contact-center {
    margin: 0 auto;
    max-width: 50em;
    margin-bottom: 7.93em;
    margin-top: 8.87em;
  }

  .form-container h2 {
    padding-top: 0;
  }

  .form-container p {
    padding: 0 7.25em;
  }

  #input-form {
    margin-top: 0.75em;
  }

  .in-txt {
    margin-bottom: 1.68em;
    border-radius: 0.12em;
  }

  .endline {
    display: none;
  }

  /* popup desktop */

  .popup-details {
    max-width: 1108px;
    max-height: 586px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .sub-box {
    padding-top: 0;
  }

  .img-snapshot {
    width: auto;
    height: 270px;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }

  .popup-desc {
    display: flex;
    gap: 36px;
  }

  .popup-text {
    width: 60%;
    overflow: hidden;
    height: 50%;
  }

  .popup-footer {
    width: 40%;
    padding: 12px 0;
    height: 50%;
  }

  .popup-line {
    margin: 10px 0;
  }
}
