* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Lucida sans", sans-serif;
}

body {
  font-size: 16px;
  background-color: #fff;
  transition: 0.3s ease-in-out all;
}

body.dark {
  background-color: #0d151e;
}

/* Modal */

#container-menu-modal {
  display: flex;
  background-color: rgba(96, 112, 255, 1);
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 120;
}

.turn_on {
  opacity: 1 !important;
  pointer-events: auto !important;
  background-color: rgba(96, 112, 255, 0.8) !important;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#modal {
  width: 100%;
  height: auto;
  padding: 0 28px;
}

#menu-head {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

#btn-close {
  padding-top: 1.87rem;
}

#btn-close:hover {
  cursor: pointer;
  transform: scale(1.2);
  animation-duration: 300ms;
}

#modal-ul {
  list-style: none;
  margin-bottom: 20rem;
}

.modal-item {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.modal-item a {
  text-decoration: none;
  color: white;
}

.modal-item:hover {
  transform: scale(0.9);
  animation-duration: 300ms;
}

/* fin modal */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 #6070ff;
  background: linear-gradient(
    to right,
    rgb(229, 231, 235),
    rgb(212, 216, 222),
    rgb(167, 176, 190)
  );
  transition: 0.3s ease-in-out all;
  backdrop-filter: blur(1px);
}

body.dark header {
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
}

.blurize {
  filter: blur(5px);
}

.my-header {
  margin: 0 auto;
  width: 100%;
  padding: 10px 24px 10px 24px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 1.25rem;
  color: #6070ff;
  text-decoration: none;
  transform: rotate(360deg);
  border-radius: 25px;
  transition: transform 3s, color 0.3s ease-in-out;
}

body.dark .logo {
  /* box-shadow: 1px 1px 10px 0 #6070ff; */
  color: #7f8cff;
}

.logo img {
  width: 32px;
  height: 32px;
}

.menu {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-box {
  display: flex;
}

.lng-item img {
  margin-right: 1em;
}

#open-modal:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.menu-op {
  list-style: none;
  gap: 0.5rem;
  display: none;
  color: #6070ff;
}

.item a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  border: 1px solid #172b4d;
  border-radius: 5px;
  padding: 5px 10px;
  color: #172b4d;
  transition: 0.3s ease-in-out all;
}

body.dark .item a {
  /* color: #715cfd;
  border: 1px solid #715cfd; */
  color: #7f8cff;
  border: 1px solid #7f8cff;
}

.item:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}

.switch {
  background: #343d58;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: unset;
  right: 0;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: #ffe400;
  color: #131313;
}

.switch.active::after {
  left: 0;
  right: unset;
}

main {
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  gap: 7.12em;
  background: #f7f7f9;
  transition: 0.3s ease-in-out all;
}

body.dark main {
  background: #13131380;
}

.page1 {
  /* width: 100%; */
  background-image: url(../image/bg-header.png);
  background-repeat: no-repeat;
  background-size: 95% 100%;
  padding: 6.25em 1.5em 0 1.5em;
  border-bottom-left-radius: 5em;
  background-color: #fff;
  transition: 0.3s ease-in-out all;
}

body.dark .page1 {
  background-image: url(../image/bg-header-dark.png);
  background-color: #222833;
}

.two-cols {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: end;
}

.pg1-container {
  margin: 0 auto;
  padding-bottom: 8.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 80%;
}

.larry {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 30px #2231d286);
  background: #ffffffd2;
  border-radius: 25000px;
  padding: 10px;
  animation: float 3s linear infinite;
  transition: 0.3s ease-in-out all;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3.5rem);
  }
}

body.dark .larry {
  box-shadow: 0 0 10px 0 #dbd9e7;
  background: #172b4d;
}

/* stylelint-disable */
.page1 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  width: fit-content;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #172b4d, #a19a9a);
  transition: 0.3s ease-in-out all;
}
/* stylelint-enable */

body.dark .page1 h1 {
  background-image: linear-gradient(to right, #a19a9a, #172b4d);
}

.languages span {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.lng-item span {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
}

.page1 h1 span {
  font-weight: 900;
}

.destac {
  color: #ebebff;
  background-color: #6070ff;
  border-radius: 8px;
  padding: 0 4px;
}

body.dark .destac {
  color: #6070ff;
  background-color: #ebebff;
}

/* stylelint-disable */
.page1 p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5rem;
  color: #344563;
  text-wrap: wrap;
  transition: 0.3s ease-in-out all;
  max-width: 500px;
}
/* stylelint-enable */

.about-desc p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
  transition: 0.3s ease-in-out all;
}

.form-container p {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.75rem;
  color: #ebebff;
  margin-top: 0.75em;
}

.work-desc p {
  padding-top: 1.25em;
  padding-bottom: 1em;
  font-size: 0.93em;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
  transition: 0.3s ease-in-out all;
}

body.dark .page1 p {
  color: #d7d7d7;
}

.sub-txt {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #7f8cff;
  padding-bottom: 1rem;
}

.social {
  display: flex;
  padding: 0.87em 0 0 0.62em;
  list-style: none;
  gap: 1.25em;
  align-items: center;
  justify-content: flex-start;
}

.social li a img {
  width: 30px;
  height: 30px;
  transition: 0.3s ease-in-out all;
}

body.dark .btn-live img,
body.dark .btn-code img {
  filter: invert(60%);
}

.social li a img:hover {
  transform: scale(1.2);
  filter: blur(0.9);
}

body.dark .social li a img {
  filter: invert(80%);
}

.works {
  width: 100%;
  padding: 0 1em;
  display: grid;
  grid-template-rows: auto;
  gap: 5.5em;
}

.works1 {
  background: white;
  border-radius: 1em;
  padding: 1em;
  border: #dfe1e6 solid 1px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  max-width: 550px;
  width: 100%;
  transition: 0.3s ease-in-out all;
}

body.dark .works1 {
  background: #222833;
  border: #715cfd solid 1px;
  box-shadow: 1px 1px 10px 0 #715cfd;
}

.div-img {
  height: 50%;
  width: 100%;
}

@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(45% 20% 45% 20%);
  }

  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

/* stylelint-disable */
.revealing-image {
  /* Create View Timeline */
  view-timeline-name: --revealing-image;
  view-timeline-axis: block;

  /* Attach animation, linked to the  View Timeline */
  animation: linear reveal both;
  animation-timeline: --revealing-image;

  /* Tweak range when effect should run*/
  animation-range: entry 15% cover 35%;
}

/* stylelint-enable */

.img-works {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  transition-duration: 300ms;
}

.img-works:hover {
  transform: scale(1.04);
}

.work-desc {
  padding-bottom: 0.5em;
}

.title-works {
  font-size: 2.12em;
  font-weight: 700;
  line-height: 2.75rem;
  color: #172b4d;
}

body.dark .title-works {
  color: #d7d7d7;
}

.small-button {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  list-style: none;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 3%;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.small-button li {
  padding: 0.25em 0.75em;
  border-radius: 10px;
  background-color: #ebebff;
  color: #6070ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sub-box ul li {
  font-size: 0.81em;
  font-weight: 600;
  line-height: 1rem;
  color: #7a869a;
  margin-right: 0.75em;
}

body.dark .small-button li {
  background-color: #715cfd;
  color: #d7d7d7;
}

.sub-box {
  display: flex;
  padding-top: 0.75em;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75em;
}

.sub-box h3 {
  font-size: 0.81em;
  font-weight: 600;
  line-height: 1rem;
  color: #344563;
}

body.dark .sub-box h3 {
  color: #d7d7d7;
}

.sub-box ul {
  display: flex;
  list-style: inside;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}

body.dark .sub-box ul li {
  color: #d7d7d7;
}

body.dark .work-desc p {
  color: #d7d7d7;
}

.see-button {
  text-decoration: none;
  font-size: 1.06em;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  color: #396df2;
  padding: 0.75em;
  border: #7f8cff solid 1px;
  border-radius: 8px;
  background-color: #fff;
}

.see-button:active {
  background: #2230d2;
  color: white;
}

.see-button:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.see-button:hover {
  background: #6070ff;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

body.dark .see-button {
  background-color: #396df2;
  color: #d7d7d7;
  border: #396df2 solid 1px;
}

body.dark .see-button:hover {
  background: #d7d7d7;
  color: #6070ff;
}

.about-myself {
  width: 100%;
  background: white;
  border-top-right-radius: 5rem;
  display: grid;
  grid-template-rows: auto;
  gap: 0.75em;
  transition: 0.3s ease-in-out all;
}

body.dark .about-myself {
  background: #222833;
}

.about-desc {
  padding: 7.12em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: flex-start;
}

.about-desc h2 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 3.25rem;
  color: #172b4d;
}

.form-container h2 {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 3.25rem;
  color: #fff;
  padding-top: 6.43em;
}

body.dark .about-desc h2 {
  color: #d7d7d7;
}

body.dark .about-desc p {
  color: #d7d7d7;
}

.about-skills {
  width: 100%;
  padding: 1.5em 2.25em 7.12em 2.25em;
}

.about-skills ul {
  list-style: none;
  text-decoration: none;
}

.lang {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.75em;
  margin-bottom: 2.25em;
  border-radius: 5px;
  border: 1px solid #dfe1e6;
  padding: 5px;
  transition: 0.3s ease-in-out all;
}

body.dark .lang {
  border: 1px solid #715cfd;
}

.brd-r {
  padding-right: 2.5em;
}

#disabled {
  margin-top: 2.25em;
  margin-bottom: 0;
  visibility: hidden;
}

.about-skills ul hr {
  background: #dfe1e6;
  width: 100%;
  height: 1px;
  border: none;
  margin: 1.5em 0;
  transition: 0.3s ease-in-out all;
}

body.dark .about-skills ul hr {
  background: #715cfd;
}

.languages {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.title-summary {
  cursor: pointer;
  border: 1px solid #dfe1e6;
  box-shadow: 1px 1px 4px 0 rgb(172, 168, 168);
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s ease-in-out all;
  list-style-type: none;
  padding-left: 10px;
}

.title-summary::after {
  content: "▼";
  position: absolute;
  right: 10px;
}

body.dark .title-summary {
  border: 1px solid #715cfd;
}

body.dark .title-summary::after {
  content: "▼";
  color: #dfe1e6;
}

body.dark .languages span {
  color: #d7d7d7;
}

.lng-item {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  justify-content: flex-start;
  padding: 0.56em 0 0.56em 0.75em;
}

body.dark .lng-item {
  background: #2f456d;
  border: 1px solid #715cfd;
}

.lng-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0 rgb(172, 168, 168);
}

body.dark .lng-icon {
  box-shadow: 1px 1px 4px 0 #715cfd;
}

/* contact form  */
.contact-form {
  background-color: white;
}

body.dark .contact-form {
  background-color: #222833;
}

.form-container {
  background-color: #6070ff;
  background-image: url(../image/bg-contat-form.png);
  background-position: 9.56em 1.31em;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5em 0.5em 1.5em;
}

body.dark .form-container {
  background-color: #6070ff60;
  background-image: url(../image/bg-contat-form-dark.png);
}

.contact-center {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.dark .form-container h2 {
  color: #cad2ee;
}

#input-form {
  display: inline-block;
  margin-top: 2.93em;
  text-align: left;
}

.in-txt {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.93em 2.37em 0.93em 1em;
  border-radius: 15px;
  font-size: 1.06em;
  font-weight: 400;
  line-height: 1.25rem;
  border: 1px solid #cfd8dc;
  margin-bottom: 1.25em;
}

.in-txt:hover {
  transform: translate(5px, 2px);
}

body.dark .in-txt {
  border: 1px solid #715cfd;
  background-color: #253858;
  color: #d7d7d7;
}

.area {
  height: 10.62em;
  resize: none;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#error {
  width: 60%;
  font-size: 0.9em;
  line-height: 1.2em;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 0.81rem;
  visibility: hidden;
}

.error-show {
  visibility: visible !important;
}

.endline {
  background-color: #0d151e;
  width: 8.37em;
  height: 0.31em;
  border-radius: 0.62rem;
  border: none;
  margin: 0 auto;
  margin-top: 2em;
}

/* popup */

.popup-principal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(193, 199, 208, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: 0.3s ease-in-out all;
  z-index: 120;
}

body.dark .popup-principal {
  background-color: rgba(78, 77, 77, 0.462);
}

.popup-show {
  visibility: visible;
}

.popup-details {
  background-color: white;
  width: 90%;
  max-width: 343px;
  height: auto;
  border: #dfe1e6 solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  transition: 0.3s ease-in-out all;
}

body.dark .popup-details {
  background-color: #222833;
  border: #715cfd solid 1px;
  box-shadow: 0 0 3px 2px rgba(113, 92, 253, 0.2);
}

.popup-image {
  position: relative;
}

#popup-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #2e2c2c;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out all;
}

#popup-close:hover {
  transform: scale(1.2);
}

body.dark #popup-close {
  color: #000;
  background: #fff;
  box-shadow: 0 0 3px 2px #715cfd;
}

.img-snapshot {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
}

.popup-txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

body.dark .popup-txt {
  color: #d7d7d7;
}

.btn-live,
.btn-code {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popup-line {
  height: 1px;
  background-color: #ebecf0;
  border: none;
  margin: 25px 0;
}

.action {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

/* end popup mobile */

@media screen and (min-width: 768px) {
  .my-header {
    /* max-width: 80%; */
    align-items: center;
    padding: 10px 34px 10px 34px;
    max-width: 1200px;
  }

  .menu {
    align-items: center;
  }

  .menu-box {
    display: none;
  }

  .menu-op {
    display: flex;
    gap: 1rem;
  }

  .logo img {
    width: 100px;
    height: 100px;
  }

  main {
    gap: 8.87em;
  }

  .page1 {
    display: flex;
    background-image: url(../image/bg-header-big.png);
    background-size: 100% 100%;
    transition: 0.3s ease-in-out all;
  }

  body.dark .page1 {
    background-image: url(../image/bg-header-big-dark.png);
  }

  .pg1-container {
    width: 55%;
    max-width: 57.5em;
    margin: 0 auto;
    padding-bottom: 15.93em;
    height: auto;
  }

  .larry {
    width: 100px;
    height: 100px;
  }

  .works {
    gap: 8.87em;
    justify-items: center;
  }

  .works1 {
    width: 80%;
    flex-direction: row;
    gap: 2.87em;
    padding: 1.5em;
    max-width: 72.25em;
    align-items: start;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .div-img {
    height: 100%;
    width: 50%;
  }

  .img-works {
    width: 100%;
    height: 100%;
  }

  .work-desc {
    width: 50%;
    height: auto;
  }

  .work-desc h2 {
    font-size: 2.5em;
    line-height: 3.25rem;
  }

  .des-p {
    padding-top: 0;
    padding-bottom: 1.5em;
    font-size: 1em;
  }

  .sub-box h3 {
    font-size: 1.12em;
    line-height: 1.5rem;
    font-weight: 500;
  }

  .sub-box ul li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .about-myself {
    grid-template-columns: 1fr 1fr;
    gap: 2.31em;
    padding-bottom: 8.37em;
  }

  .about-desc {
    padding: 8.87em 0 0 8.87em;
  }

  .about-skills {
    padding: 8.87em 8.87em 0 0;
  }

  .lang {
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
    gap: 0.75em;
    justify-items: center;
  }

  .lng-item {
    flex-direction: column;
    padding: 0.75em 0.75em 1.25em 0.75em;
    gap: 1rem;
    align-items: flex-start;
    width: 122px;
    height: 120px;
  }

  .lng-item img {
    margin-right: 0;
  }

  /* Contact Form */

  .form-container {
    background-image: url(../image/bg-contact-form-big.png);
    background-position: 4.68em 5em;
    background-size: 100%;
  }

  body.dark .form-container {
    background-image: url(../image/bg-contact-form-big-dark.png);
  }

  .contact-center {
    margin: 0 auto;
    max-width: 50em;
    margin-bottom: 7.93em;
    margin-top: 8.87em;
  }

  .form-container h2 {
    padding-top: 0;
  }

  .form-container p {
    padding: 0 7.25em;
  }

  /* stylelint-disable */
  .mail-me {
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    text-wrap: balance;
    transition: 0.3s ease-in-out all;
  }
  /* stylelint-enable */

  .mail-me:hover {
    font-size: 1.4rem;
  }

  #input-form {
    margin-top: 0.75em;
  }

  .in-txt {
    margin-bottom: 1.68em;
  }

  .endline {
    display: none;
  }

  /* popup desktop */
  .popup-details {
    max-width: 1108px;
    max-height: 586px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }

  .sub-box {
    padding-top: 0;
  }

  .img-snapshot {
    width: auto;
    height: 19rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }

  .popup-desc {
    display: flex;
    gap: 36px;
  }

  .popup-text {
    width: 60%;
    overflow: hidden;
    height: 50%;
  }

  .popup-footer {
    width: 40%;
    padding: 12px 0;
    height: 50%;
  }

  .popup-line {
    margin: 10px 0;
  }
}
